@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem grey;
}

::-webkit-scrollbar-thumb {
  background: goldenrod;
  border-radius: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: white;
  text-shadow: 1.5px 1.5px 1.5px #001632;
  letter-spacing: 0.1rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
}

h1,
h2 {
  text-align: center;
}

h4 {
  line-height: 2.5rem;
}

small {
  display: block;
  text-align: center;
  text-transform: uppercase;
}

.header-md {
  height: 4rem;
  background-color: #001632;
  box-shadow: 0 0 1px 0 goldenrod;
  position: fixed;
  top: 0;
  bottom: unset;
  left: 0;
  right: 0;
  z-index: 2;
}

#header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#header-nav a {
  text-transform: uppercase;
  font-size: 1.3rem;
}

#header-nav a span {
  padding-right: 0.15rem;
}

#openbtn {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  opacity: 0.9;
  background-color: goldenrod;
  box-shadow: 0 0 0.2rem #001632;
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 2;
}

#openbtn img {
  width: 1.2rem;
}

.html-overflow {
  overflow: hidden;
}

#aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: #001632;
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
}

.aside-with {
  width: 50% !important;
}

@media screen and (max-width: 425px) {
  .aside-with {
    width: 100% !important;
  }
}
#aside a {
  text-transform: uppercase;
  font-size: 1.3rem;
}

#closebtn img {
  width: 1.1rem;
}

#closebtn {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  opacity: 0.9;
  background-color: goldenrod;
  box-shadow: 0 0 0.2rem #001632;
  text-align: center;
  line-height: 3rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

#developer,
#skills,
#projects,
#contacts {
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
#developer .overlay,
#skills .overlay,
#projects .overlay,
#contacts .overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
  #skills,
  #projects,
  #contacts {
    min-height: 100%;
  }
}
#developer {
  background-image: url("../img/bg-odd.jpg");
}
#developer .overlay h1 {
  line-height: 3rem !important;
}
#developer .overlay h1 a:first-child {
  line-height: 3rem !important;
  text-transform: uppercase;
  color: goldenrod;
}
#developer .overlay h1 a:first-child:hover {
  color: goldenrod;
}
#developer .overlay h1 a:nth-child(2) {
  line-height: 3rem !important;
  color: white;
}
#developer .overlay h1 a:nth-child(2):hover {
  color: white;
}
#developer .overlay h2 {
  line-height: 3rem !important;
  text-transform: capitalize;
  color: white;
}

#skills {
  background-image: url("../img/bg-even.jpg");
}
#skills .overlay #resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
@media screen and (max-width: 768px) {
  #skills .overlay #resume {
    align-items: center;
    text-align: center;
  }
}
#skills .overlay #resume h4 {
  color: goldenrod;
}

#projects {
  background-image: url("../img/bg-odd.jpg");
}
#projects .overlay p {
  text-align: center;
  line-height: 4rem;
}
#projects .overlay p a {
  color: goldenrod;
}

#contacts {
  background-image: url("../img/bg-even.jpg");
}
#contacts .overlay p {
  margin-top: 5rem;
  text-align: center;
}
#contacts .overlay form label {
  font-size: 1.1rem;
}
#contacts .overlay form input,
#contacts .overlay form textarea {
  border: 1.5px solid goldenrod;
  border-radius: 0.5rem;
  color: #001632;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem;
  resize: none;
}
#contacts .overlay form input:focus,
#contacts .overlay form textarea:focus {
  outline: none;
  box-shadow: 0 0 0 0.15rem goldenrod;
}
#contacts .overlay form button {
  background-color: goldenrod;
  border: none;
  border-radius: 0.5rem;
  color: #001632;
  font-size: 1.1rem;
  padding: 0.5rem;
  transition: all 0.3s ease-in-out;
}
#contacts .overlay form button:hover {
  background-color: #001632;
  color: goldenrod;
}

#skills-container,
#contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill,
.contact {
  width: 5rem;
  min-height: 5rem;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 2rem;
  filter: drop-shadow(2px 2px 2px black);
}

.min-height-dev,
.min-height,
.min-height-proj {
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .min-height {
    min-height: 100%;
  }
}
@media screen and (max-width: 992px) {
  .min-height-proj {
    min-height: calc(50vh - 3rem);
  }
}
.swiper {
  border-radius: 1rem;
  box-shadow: 0 0 0 0.15rem #001632;
}
.swiper .swiper-slide img {
  width: 100%;
  height: 100%;
  min-height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 1rem;
}
.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  width: 35px !important;
  height: 35px !important;
  border-radius: 50%;
  border: 1px solid #001632;
  color: #001632 !important;
  background-color: goldenrod;
}
.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
  line-height: 35px;
  font-size: 15px !important;
  font-style: normal;
  text-shadow: none;
}

footer {
  min-height: 4rem;
  background-color: #001632;
  box-shadow: 0 0 1px 0 goldenrod;
}

#footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 4rem;
}

@media screen and (max-width: 768px) {
  #footer-nav {
    flex-direction: column;
    justify-content: center;
  }
}
#footer-nav a {
  text-transform: uppercase;
  font-size: 1.3rem;
}

#footer-nav a span {
  padding-right: 0.15rem;
}

#scroll-to-top {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  opacity: 0.9;
  background-color: goldenrod;
  box-shadow: 0 0 0.2rem #001632;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  transform: scale(0);
  transition: transform 0.5s;
  z-index: 1;
}

#scroll-to-top img {
  width: 1.5rem;
}

.scroll-to-top-transform {
  transform: scale(1) !important;
}
