/* General settings */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat-regular.ttf");
  src: url("../fonts/montserrat-semibold.ttf");
  src: url("../fonts/montserrat-bold.ttf");
}

:root {
  --primary-color: #001632;
  --secondary-color: goldenrod;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem grey;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
}

header {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  padding: 0 0.2rem;
}

nav a:hover {
  color: white;
  /* box-shadow: 0 0.2rem 0 0 var(--secondary-color); */
}

.icon {
  width: 2rem;
  height: 2rem;
  margin-bottom: 0.5rem;
  filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(90deg) brightness(104%) contrast(104%);
}

main.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  background-image: url("../img/bg-section.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

section {
  min-height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}

section div {
  margin: auto;
}

h1,
h2 {
  color: white;
  text-shadow: 2px 2px var(--primary-color);
  font-weight: 800 !important;
  font-style: italic;
  letter-spacing: 0.1rem;
  line-height: 2;
  text-align: center;
}

.name,
h2 {
  color: var(--secondary-color);
  text-transform: uppercase;
  text-decoration: none;
}

.name:hover {
  color: var(--secondary-color);
}

.role {
  color: white;
  text-decoration: none;
}

.role:hover {
  color: white;
}
