/* General settings */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
}

:root {
  --primary-color: #001632;
  --secondary-color: goldenrod;
  --tertiary-color: white;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.5rem grey;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  border-radius: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: var(--tertiary-color);
}

a {
  color: var(--tertiary-color);
  text-decoration: none;
}

a:hover {
  color: var(--tertiary-color);
}

/* Header  */
.header-md {
  background-color: var(--primary-color);
  height: 4rem;
  position: fixed;
  top: 0;
  bottom: unset;
  left: 0;
  right: 0;
  z-index: 1;
  box-shadow: 0 0 1px 0 var(--secondary-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.link-style {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
}

nav a span {
  padding-right: 0.15rem;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  filter: invert(96%) sepia(96%) saturate(0%) hue-rotate(90deg) brightness(104%) contrast(104%);
}

.icon:hover {
  filter: invert(67%) sepia(47%) saturate(697%) hue-rotate(3deg) brightness(92%) contrast(92%);
}

/* Navigation menu on mobile (aside) */
#openbtn {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  opacity: 0.9;
  background-color: var(--secondary-color);
  box-shadow: 0 0 0.2rem var(--primary-color);
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  z-index: 1;
}

#openbtn img {
  width: 1.2rem;
}

.html-overflow {
  overflow: hidden;
}

#aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

  min-height: 100vh;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  background-color: var(--primary-color);
  opacity: 0.9;
  overflow-x: hidden;
  transition: 0.5s;
}

.aside-with {
  width: 50% !important;
}

@media screen and (max-width: 425px) {
  .aside-with {
    width: 100% !important;
  }
}

#closebtn img {
  width: 1.1rem;
}

#closebtn {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  opacity: 0.9;
  background-color: var(--secondary-color);
  box-shadow: 0 0 0.2rem var(--primary-color);
  text-align: center;
  line-height: 3rem;

  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

/* Main */
main {
  background-image: url("../img/bg-main.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

section {
  min-height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
}

section div {
  margin: auto;
}

h1,
h2 {
  text-shadow: 2px 2px var(--primary-color);
  letter-spacing: 0.1rem;
  text-align: center;
}

h1 .name {
  line-height: 3.5rem !important;
}

h1 a,
h1 span {
  line-height: 3rem !important;
}

.name,
h2 {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.name:hover {
  color: var(--secondary-color);
}

#skills-container,
#contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill,
.contact {
  width: 5rem;
  margin: 2rem;
  filter: drop-shadow(2px 2px 2px black);
}

/* Scroll to top button */
#scroll-to-top {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  opacity: 0.9;
  background-color: var(--secondary-color);
  box-shadow: 0 0 0.2rem var(--primary-color);
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  transform: scale(0);
  transition: transform 0.5s;
}

#scroll-to-top img {
  width: 1.5rem;
}

.scroll-to-top-transform {
  transform: scale(1) !important;
}
